@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Darker+Grotesque&display=swap');

:root{
	--lite-golden: #dda92f;
	--lite-blue :#386eb6;
	--dark-blue :#174169;
	--dark-golden: #7a6522;
	--oppo:#9BC2CF;

}


    /*font-family: 'Darker Grotesque', sans-serif;

    font-family: 'Dancing Script', cursive;
    */
    /*color from photoshop
		lite-golden #dda92f;
		light-blue #386eb6;
		dark-blue #174169;
		dark-golden #7a6522;
		*/
		body{
			font-family: 'Darker Grotesque', sans-serif;
		}
		.mycontainer{
			width: 85%;
			margin: 0 auto;
		}
		.padding-Y{
			padding: 60px 0;
		}
		a:hover{
			text-decoration: none;
		}
		.text-capatilize{
			text-transform: capitalize;
		}
		.text-header{
			font-family: 'Dancing Script', cursive;
		}
		p{
			text-transform: capitalize;
		}
		h3{
			font-family: 'Dancing Script', cursive;
			text-transform: capitalize;
			font-size: 50px;
			margin: 0 auto;
			margin-bottom: 10px;
			text-align: center;

		}
		h2{
			text-transform: capitalize;
			font-size: 30px;
			margin-bottom: 0px;
			display: block;
		}
		button{
			text-transform: uppercase;
			color: #fff;
			border: none;
			font-size: 18px;
		}
		
		.margin-T {
			margin-top: 30px;
		}

		/*header part*/
		.top-part{
			height: 100px;
		}
		/*logo*/
		.top-part .logo{
			padding: 15px 0;
		}
		.top-part .logo img{
			width: 115px;
		}

		/*menu part*/
		.top-part .menu-part{
			margin-top: 43px;
		}
		.top-part .menu-part ul{
			list-style: none;
			float: right;

		}
		.top-part .menu-part ul li{
			display: inline;

			font-size: 18px;

			text-transform: uppercase;

			margin-left: 87px;
		}
		.top-part .menu-part ul li a{
			color: #000;
		}
		.top-part .menu-part ul li:first-child{
			margin-left: 0;
		}
		/*hover and active part*/
		.top-part .menu-part ul .active a{
			color: #fff;

			background: var(--lite-blue);

			padding: 10px;
		}
		.top-part .menu-part ul li:hover a{
			color: #fff;

			background: var(--lite-blue);

			padding: 10px;
			transition: .5s ease;
		}
		/*header part ends here*/

		/*for section header*/
		section div  .section-head{
			background-image: url(../images/line-star.png);
			background-repeat: no-repeat;
			background-position: 49.8% 63px;
			height: 77px;
		}

		/*start of home carosel img*/
		
		.homeimg .home-img-text{
			position: absolute;

			color: #fff;

			text-align: right;

			top: 43%;

			right: 8%;
		}
		.homeimg .home-img-text p{
			font-size: 30px;
			margin-bottom: 0;
		}
		.homeimg .home-img-text h2{
			margin-bottom: 15px;
			font-family: 'Darker Grotesque', sans-serif;
			text-transform: uppercase;
			font-size: 50px;
		}

		/*button hover part*/
		.homeimg .home-img-text button{
			padding: 10px 30px;
			background-color: var(--lite-golden);
			transition: .3s linear;
			font-weight: bold;
			letter-spacing: .8px;
		}
		.homeimg .home-img-text button:hover{
			background-color: var(--dark-golden);
			transition: .3s linear;
		}
		.homeimg .home-img-text i{
			transition: .3s linear;
		}
		.homeimg .home-img-text button:hover i{

			transform: translateX(5px);

			margin-left: 2px;
			transition: .3s linear;
		}

		.homeimg .owl-theme .owl-nav.disabled + .owl-dots {
			margin-top: 10px;
			position: absolute;
			left: 47%;
		}
		
		.homeimg .owl-dots .owl-dot{
			position: relative;
			bottom: 34px;

			opacity: .5;
		}
		
		.homeimg .owl-theme .owl-dots .owl-dot.active span {
			height: 3px;
			width: 33px;
			border-radius: 0%;
			margin-top: 8px;
			transition: .3s linear;
			opacity: 1;
		}
		.homeimg .owl-theme .owl-dots .owl-dot {
			outline: none;
		}





		/*latest product part*/
		.product-collections .products{
			border: 1px solid #eee;
			margin-bottom: 10px;
			transition:  0.7s linear;
		}


		.product-collections .sub-products  img{
			width: 100%;
			object-fit: contain;

			height: 200px;
			transition:  0.7s linear;
		}
		.product-collections h3{
			text-align: center;
			margin: 0px auto;
			margin-bottom: 20px;

		}
		.product-collections h2{
			text-align: center;

		}
		.product-collections p{
			color: #999;
			text-align: center;
			position: relative;
		}
		.product-collections p:hover{
			color: #000;
		}
		.product-collections p:after {
			position: absolute;
			top: 3px;
			right: 16%;
			/*content: "»";*/
			content: "\f30b";
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			opacity: 0;
			transition: all 0.3s ease;
			font-size: 1rem;
		}
		.product-collections p:hover:after {
			opacity: 1;
			right: 30%;
		}
		

		/*tryna make image rotate and scale at a same times*/


		.product-collections .products:hover{
			background-color: rgba(225,223,0,0.2);
			transition:  0.7s linear;
			box-shadow: 4px 4px 17px  #ddd;
		}
		.product-collections .products:hover img{
			transform: rotate(16deg) scale(0.8); 
			transition:  0.7s linear;

		}

		/*product collection ends here*/




		/*start of discount prodect section*/
		.discount-contains{
			background-color: #fbfbfb;
		}
		.discount-contains .card-body{
			text-align: center;
			padding: 8px;
		}
		.discount-contains .card-body h2{
			margin-bottom: 0;
		}
		.discount-contains .card-body p{
			font-size: 1.4rem;

			color: #E50000;
		}
		.discount-contains .card-body p span{
			margin-left: 10px;

			text-decoration: line-through;

			font-size: 1rem;

			color: #444;

		}
		.discount-contains .card a{
			overflow: hidden;
		}

		.discount-contains .card img{
			width: 100%;
			object-fit: cover;
			transition: .5s linear;
			/*animation: hover-reverse 1s linear;*/
			
		}
		.discount-contains .card:hover img{
			animation: hovering .8s linear;
			animation-fill-mode: forwards;
		}

		/*discount part ends here*/


		/*about us part ends here*/
		.about-us{
			background-image: url(../images/light-pink-pattern-background-images--pictures-becuo-15.jpeg);
			position: relative;
			
		}
		
		
		.infront-design img{
			max-height:400px;
			position: absolute;
			bottom: 0px;

		}

		.about-us .about-us-text{

		}

		.about-us .about-us-text h4{
			text-transform: capitalize;
			font-size: 30px;
			margin-bottom: 0px;

		}
		.about-us .about-us-text h2{
			font-size: 50px;
			margin-bottom: 12px;
		}
		.about-us .about-us-text p{
			font-size: 22px;
			margin-bottom: 36px;
		}

		.about-us .about-us-text a div{
			border: 3px solid #e75480;

			padding: 12px 27px;

			color: #e75480;
			font-size: 18px;
			text-transform: uppercase;

			font-weight: bold;
			transition:1s all ease;
			position: relative;
			overflow: hidden;
			display: inline-block;
			z-index: 1;

		}

		.about-us .about-us-text a div::before{

			position: absolute;
			content: " ";
			background-color: #e75480;
			width: 0;
			height: 0;
			top: 0;
			left: 0;
			z-index: -1;
			transition: 1s all ease;
		}
		
		.about-us .about-us-text a div::before{
			width: 113%;
			height: 0;
			transform: translate(-14%,-27%) rotate(45deg);
		}

		.about-us .about-us-text a div:hover::before{
			height: 431%;

		}
	.about-us .about-us-text a div:hover{
		color: #fff;
	}

/*latest product*/

.latest-product .card-img-top {
    height: 388px;
    object-fit: cover;
}
.latest-product{


}

.latest-product .card{
	margin-top: 20px;
}
.latest-product .card-body{

}
.latest-product .card-title{

}
.latest-product .card-title h2{

}
.latest-product .card-title p{
	
}

/*owl prev and next icon*/

.latest-product .owl-nav .owl-prev i {
    position: absolute;
    top: 30%;
    left: 1px;
}
.latest-product .owl-nav .owl-next i {
    position: absolute;
    top: 30%;
    right: 1px;
    
}

.latest-product .owl-nav i{
	
    
    color: #fff;
    padding: 8px 13px;
	background-color: #222;	
	visibility: hidden;
	opacity: .5;
	transition:  .2s ease;
}


.latest-product #latest-product-carosel:hover .owl-nav i{
	visibility: visible;
	transition:  .5s ease;
	
	opacity: 1;
}







	/*discount section hovering part*/
	@keyframes hovering{
		25%{
			transform: scale(1.18) translatex(23px);
		}
		50%{
			transform: scale(1.18) translatex(4px);
		}
		100%{
			transform: scale(1.18) translatex(-4px);

		}
	}










